body{
    background-color: whitesmoke;
    color: black;
}

.conteiner{
    display: grid;
    font-size: 25px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    align-content: center;
    text-align: center;
}

.items{
    border: 0.5px solid lightslategray;
}

/* COLUMNS E ROWS */
.grid-columns{
    grid-template-columns: auto auto auto;
}

.grid-rows{
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 100px auto;
}

/* GAP */
.gap-column{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
}

.gap-row{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 5px;
}

.gap{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 15px;
}

/* Grid-Column-Start e End, Grid-Row-Start e End, Grid-Column e Grid-Row */
.column-start-end{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 15px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.row-start-end{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 15px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-column{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 15px;
    grid-column: 1 / 4;
}

.grid-row{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 15px;
    grid-row: 1 / 4;
}